In [1]:
import pandas as pd
df=pd.read_csv("titanic.csv")
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [8]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [10]:
target=df.Survived
inputs=df.drop('Survived',axis='columns')

In [13]:
dummies=pd.get_dummies(inputs.Sex,dtype='int')
dummies.head(3)

   female  male
0       0     1
1       1     0
2       1     0

In [15]:
inputs=pd.concat([inputs,dummies],axis='columns')
inputs.head(3)

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0

In [18]:
inputs.drop('Sex',axis="columns",inplace=True)
inputs

     Pclass   Age     Fare  female  male
0         3  22.0   7.2500       0     1
1         1  38.0  71.2833       1     0
2         3  26.0   7.9250       1     0
3         1  35.0  53.1000       1     0
4         3  35.0   8.0500       0     1
..      ...   ...      ...     ...   ...
886       2  27.0  13.0000       0     1
887       1  19.0  30.0000       1     0
888       3   NaN  23.4500       1     0
889       1  26.0  30.0000       0     1
890       3  32.0   7.7500       0     1

[891 rows x 5 columns]

In [20]:
# checking is there any nan vakues in any columns in dataset
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [21]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [23]:
inputs.Age=inputs.Age.fillna(inputs.Age.mean())
inputs.head(10)

   Pclass        Age     Fare  female  male
0       3  22.000000   7.2500       0     1
1       1  38.000000  71.2833       1     0
2       3  26.000000   7.9250       1     0
3       1  35.000000  53.1000       1     0
4       3  35.000000   8.0500       0     1
5       3  29.699118   8.4583       0     1
6       1  54.000000  51.8625       0     1
7       3   2.000000  21.0750       0     1
8       3  27.000000  11.1333       1     0
9       2  14.000000  30.0708       1     0

In [33]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(inputs,target,test_size=0.3)

In [34]:
len(x_train)

623

In [35]:
len(x_test)

268

In [36]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()

In [37]:
model.fit(x_train,y_train)

GaussianNB()

In [38]:
model.score(x_test,y_test)

0.7947761194029851

In [39]:
x_test[:10]

     Pclass        Age     Fare  female  male
702       3  18.000000  14.4542       1     0
293       3  24.000000   8.8500       1     0
602       1  29.699118  42.4000       0     1
499       3  24.000000   7.7958       0     1
177       1  50.000000  28.7125       1     0
454       3  29.699118   8.0500       0     1
865       2  42.000000  13.0000       1     0
540       1  36.000000  71.0000       1     0
606       3  30.000000   7.8958       0     1
391       3  21.000000   7.7958       0     1

In [40]:
y_test[:10]

702    0
293    0
602    0
499    0
177    0
454    0
865    1
540    1
606    0
391    1
Name: Survived, dtype: int64

In [42]:
model.predict(x_test[:10])

array([1, 1, 0, 0, 1, 0, 1, 1, 0, 0], dtype=int64)

In [45]:
model.predict_proba(x_test[:10]) # gives probability

array([[0.07392592, 0.92607408],
       [0.08259634, 0.91740366],
       [0.88927647, 0.11072353],
       [0.98957167, 0.01042833],
       [0.0082813 , 0.9917187 ],
       [0.990358  , 0.009642  ],
       [0.03921319, 0.96078681],
       [0.00311429, 0.99688571],
       [0.99037635, 0.00962365],
       [0.98892783, 0.01107217]])